<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <%- include('../partials/preloader'); %>

  <main>
    <%- include('../partials/home'); %>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <%- include('../partials/scripts'); %>

</body>

</html>
